@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.main-content{
  display: grid;
  grid-template-columns: 25vw 25vw;
  grid-template-rows: 18vh 10vh 7vh;
  justify-self: center;
  align-self: center;
  position: absolute;
  top: 25vh;
  left: 25vw;
}
.Logo{
  grid-row: 1/2;
  grid-column: 1/3;
  margin: auto;
}
.Logo img{
  height: 15vh;
  text-align: center;}
.Search-Bar{
  grid-row: 2/3;
  margin: auto;
  grid-column: 1/3;
}
#searchbar{
  width: 35vw;
  height: 5vh;
  border-radius: 40px;
}
.Search{
  margin-left: 16vw;
  margin-right: 3vw;;
  align-self: center;
  padding: 10px 10px 10px 10px;
  background: #bdbdbd;
  border-radius: 10px;
  text-align: center;
}
.lucky{
  margin-left: 3vw;
  margin-right: 16vw;;
  align-self: center;
  text-align: center;
  background: #bdbdbd;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}
ul{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
li{
  margin: 0 1.25vw 0 1.5vw;
}
footer{
  background: #cbcbcb;
}
.topnavbar{
  display: flex;
  padding: 3vh 2vw 3vh 2vw;
  flex-direction: row;
  justify-content: space-between;
}
.bottom-footer-flexcontainer{
display: flex;
flex-direction: row;
padding-top:2vh;
justify-content: space-between;
}
footer{
display: flex;
flex-direction: column;
position: absolute;
padding: 2vh 2vw 2vh 2vw;
bottom:0;
border-top: gray solid 2px;
width: 100vw;
}
.Circle-Photo{
  border-radius: 50%;
}
.location{
  padding-left: 1.5vw;
  border-bottom: solid gray;
  border-width: 1px;
}
